{% extends "base.html" %}
{% block content %}


      <!-- Begin page content -->
      <div id="game" class="container">

        <div id="throw-select" class="row game-buttons">
          <div class="col-md-6 button-row">
                <div class="col-sm-4 throw-button">
					<button id="rock" type="button" class="btn btn-block btn-primary throw-button">
                            Rock
                        </button>
				</div>
                <div class="col-sm-4 throw-button">
					<button id="paper" type="button" class="btn btn-block  btn-success throw-button">
                            Paper
                        </button>
				</div>
                <div class="col-sm-4 throw-button">
					<button id="scissors" type="button" class="btn btn-block  btn-warning throw-button">
                            Scissors
                        </button>
				</div>
          </div>
          <div class="col-md-6 button-row">
            <div class="row button-row">
                Hi, Lauren!
            </div>
          </div>
        </div>

        <div class="row hands"> <!-- Hands -->
          <div id="player-hand" class="col-md-6 hand">You</div>
          <div id="opponent-hand" class="col-md-6 hand">None</div>
        </div>

      </div>

{% endblock %}
