{% extends "base.html" %}
{% block content %}


<!-- Begin page content -->
<div class="container">
    <div class="jumbotron">
        <div class="page-header" style="text-align:center">
            <h2>Rock. . .Paper. . .Scissors. . .Duel!</h2> 
            <a class="btn btn-success btn-block" href="/play">Play Now!
            </a>
        </div>
<!-- TODO Remove Chalenge and Join links, or add functionality -->
        <p class="lead">Go to the <a href="/play">Play</a> page to be matched against a random opponent. Play a friend by setting up a <a href="/challenge">Challenge</a>, or <a href="/join">Join</a> a friend's Challenge.</p>
    </div>
</div>

{% endblock %}
