{% extends "base.html" %}
{% block content %}


<!-- Begin page content -->
<div class="container">
    <div class="jumbotron">
        <div class="page-header" style="text-align:center">
            <h1>Rock . . . Paper . . . Scissors . . . Duel!</h1> 
            <button type="button" class="btn btn-success btn-block"> Play Now! </button>
        </div>
        <p class="lead">Go to the <a href="/play">Play</a> page to be matched against a random opponent. Play a friend by setting up a <a href="/challenge">Challenge</a>, or <a href="/join">Join</a> a friend's Challenge.</p>
    </div>
</div>

{% endblock %}
