{% extends "base.html" %}
{% block content %}

<h2>Rules</h2>
<p>After two players have joined the game, the count-off will begin: "Rock...Paper...Scissors...Shoot!" Lock in your throw before "Shoot!" appears.</p>
<p>If a throw is not locked in before the end of the count, the player has a No-Throw which can be beaten by any other throw.</p>
<p>Valid throws are scored as:</p>
<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors beats Paper</li>
  <li>Paper beats Rock</li>
</ul>
<h4>Points</h4>
<p>The game winner is decided by the best out of 3 Matches. Each Match is determined by the best of 3 Throws.</p>


{% endblock %}
